<form method="post" action="/toys/<%= @toy.id %>">

    <label for="name">Name:</label>
    <input
    type="text"
    name="name"
    id="name"
    value="<%= @toy.name%>"
    />

    <label for="description">Description:</label>
    <input
    type="text"
    name="description"
    id="description"
    value="<%= @toy.description%>"
    />

    <label for="stock_quantity-field">Stock quantity:</label>
    <input
    type="number"
    name="stock_quantity"
    id="stock_quantity"
    value="<%= @toy.stock_quantity%>"
    />

    <label for="value">Value (GoodWill Points):</label>
    <input
    type="number"
    name="value"
    id="value"
    value="<%= @toy.value%>"
    />

    <input type='submit' value="Edit Toy">
    </form>
