<%@toys.each do |toy| %>

<p> Name: <%=toy.name%></p>
<p> Description: <%=toy.description %></p>
<p> Stock quantity: <%=toy.stock_quantity %></p>
<p> Buying cost (goodwill points): <%=toy.buying_cost %></p>
<p> Selling price (goodwill points): <%toy.selling_price %></p>
<p> Toy id number: <%toy.id %></p>
<p><a href="/toys/<%=toy.id %>">Click to edit</a></p>
<hr>

<%end%>
