<%@toys.each do |toy| %>

<p> Name: <%=toy.name%></p>
<p> Description: <%=toy.description %></p>
<p> Stock quantity: <%=toy.stock_quantity %></p>
<% if toy.stock_quantity.to_i == 0 %>
<p> >OUT OF STOCK< </p>
    <% elsif toy.stock_quantity.to_i < 1000 %>
<p> >LOW STOCK< </p>
<%end%>
<p> Value (GoodWill Points): <%=toy.value %></p>
<p> Department: <%=toy.department_id %></p>
<p><a href="/toys/<%=toy.id %>">Click to edit</a></p>
<hr>

<%end%>
