<%@toys.each do |toy| %>

<p> Name: <%=toy.name%></p>
<p> Description: <%=toy.description %></p>
<p> Stock quantity: <%=toy.stock_quantity %></p>
<p> Value (GoodWill Points): <%=toy.value %></p>
<p><a href="/toys/<%=toy.id %>">Click to edit</a></p>
<hr>

<%end%>
