<p> Name: <%=@toy.name%></p>
<p> Description: <%=@toy.description %></p>
<p> Stock quantity: <%=@toy.stock_quantity %></p>
<p> Buying cost (goodwil points): <%=@toy.buying_cost %></p>
<p> Selling price (goodwill points): <%@toy.selling_price %> goodwill points</p>
<p> Toy id number: <%@toy.id %></p>
<p><a href="/toys/<%=@toy.id%>/edit">Edit Toy</a></p>
<form method="post" action="/toys/ <%= @toy.id %>/delete">
  <input type="submit" value="Delete Toy"/>
</form>
