<br>
<h2>Toy details</h2>

<p> Name: <%=@toy.name%></p>
<p> Description: <%=@toy.description %></p>
<p> Stock quantity: <%=@toy.stock_quantity %></p>
<p> Stock target: <%=@toy.stock_target %></p>
<p> Value (GoodWill Points): <%=@toy.value %></p>
<p> Department id: <%=@toy.department_id %></p>

<p><a href="/toys/<%=@toy.id%>/edit">Edit Toy</a></p>

<form method="post" action="/toys/ <%= @toy.id %>/delete">
  <input type="submit" value="Delete Toy"/>
</form>
